body {
    margin: 0px;
	padding: 0px;
    font-family: sans-serif;
}
.info {
    background-color: coral;
    color: beige;

    .info-sub {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        position: relative;
    }

    .info-sub a {
        color: beige;
        font-size: 20px;
        padding: 10px;
        text-decoration: none;
    }
}

.menu {
    background-color: rgb(100, 65, 65);
    
    .menu-principal {
        max-width: 960px;
        margin: 0 auto;
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .menu-title a {
        color: beige;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu-option nav li {
        display: inline-block;
        color: beige;
        padding: 10px;
    }

}
.title-content {
    font-size: 48px;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    color: coral;
}

.carboidrato {
    display: flex;
    border-top: 3px solid rgb(100, 65, 65);
    border-bottom: 4px solid rgb(100, 65, 65);
    padding: 20px;
    margin: 0 auto;
    max-width: 960px;
}
.carboidrato a {
    color: coral;
    font-size: 48px;
    font-weight: 500;
 }
 .carboidrato p {
    font-size: 18px;
 }

.proteina {
    max-width: 960px;
    margin: 20px 10px 60px 10px;
    color: rgb(100, 65, 65);
    margin: 40px auto;
}
.proteina h1{
    font-size: 48px;
}

.proteina-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.proteina-item {
    display: inline-block;
    flex: 1 1 175px;
    margin: 10px;
    border-top: 10px solid  rgb(100, 65, 65);
}
.proteina-item h2 {
    font-size: 3em;
    color: beige;
    background: rgb(100, 65, 65);;
    padding: 60px 20px;
}
.vitaminas {
    background-color: beige;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.vitaminas-itens {
    flex: 1 1 260px;
    border: 2px solid rgb(72, 125, 72);
    padding: 20px;
    margin: 10px;
}
.vitaminas-itens p {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: coral;
    padding: 10px 0 5px 0;
    border-top: 4px solid rgb(72, 125, 72);
    border-bottom: 4px solid rgb(72, 125, 72);
}
.vitaminas-itens h2 {
    font-size: 3em;
    color: rgb(72, 125, 72);
    text-align: center;
    margin-top: 20px;
}
.vitaminas-itens ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    display: flex;
    flex-direction: column;
}
.vitaminas a {
max-width: 300px;
display: block;
margin: 20px auto;
border: 4px solid;
color: #222222;
text-transform: uppercase;
font-weight: bold;
font-size: 2.25em;
padding: 15px 0;
text-align: center;
}
.footer {
display: flex;
background: coral;
height: 100px;
align-items: center;
font-size: 28px;
color: beige;
justify-content: center;
}