body {
    margin: 0px;
	padding: 0px;
    font-family: sans-serif;
}
.info {
    background-color: coral;
    color: beige;

    .info-sub {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        position: relative;
    }

    .info-sub a {
        color: beige;
        font-size: 20px;
        padding: 10px;
        text-decoration: none;
    }
}

.menu {
    background-color: rgb(100, 65, 65);
    
    .menu-principal {
        max-width: 960px;
        margin: 0 auto;
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .menu-title a {
        color: beige;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu-option nav li {
        display: inline-block;
        color: beige;
        padding: 10px;
    }

}
.title-content {
    font-size: 48px;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    color: coral;
}

.carboidrato {
    display: flex;
    border-top: 3px solid rgb(100, 65, 65);
    border-bottom: 4px solid rgb(100, 65, 65);
    padding: 20px;
    margin: 0 auto;
    max-width: 960px;
}
.carboidrato-title {
    color: coral;
    font-size: 48px;
   
 }
 .carboidrato p {
    font-size: 18px;
 }

.proteina {
    max-width: 960px;
    margin: 20px 10px 60px 10px;
    color: rgb(100, 65, 65);
    margin: 40px auto;
}
.proteina-title {
    font-size: 48px;
}

.proteina-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.proteina-item {
    display: inline-block;
    flex: 1 1 175px;
    margin: 10px;
    border-top: 10px solid  rgb(100, 65, 65);
}
.proteina-item--name {
    font-size: 3em;
    color: beige;
    background: rgb(100, 65, 65);;
    padding: 60px 20px;
}
.vitaminas {
    background-color: beige;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.vitaminas-itens {
    flex: 1 1 260px;
    border: 2px solid rgb(72, 125, 72);
    padding: 20px;
    margin: 10px;
}
.vitaminas-itens--subtitle {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: coral;
    padding: 10px 0 5px 0;
    border-top: 4px solid rgb(72, 125, 72);
    border-bottom: 4px solid rgb(72, 125, 72);
}
.vitaminas-itens h2 {
    font-size: 3em;
    color: rgb(72, 125, 72);
    text-align: center;
    margin-top: 20px;
}
.vitaminas-itens ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}
.vitaminas a {
    width: 200px;
    height: 20px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: rgb(72, 125, 72);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    margin-top: 40px;
}

.dicas { 
    background-color: rgb(72, 125, 72);
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
}

.dicas-item {
    flex: 1 1 400px;
    margin: 20px 10px;
}

.dicas-title {
    font-size: 30px;
    color:  beige;
}

.dicas-description {
    font-size: 20px;
    color:  beige;
    margin-bottom: 20px;
}

.contatos {
    background: beige;
    padding: 60px calc((100% - 960px) / 2 );
    display: flex;
    flex-wrap: wrap;
}
.contatos-text {
    flex: 1 1 240px;
    margin: 0 10px;
}
.contatos-form {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}
.contatos-dados {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: coral;
    border: 4px solid  rgb(100, 65, 65);
    background: transparent;
    gap: 20px;
    margin: 0px;
    padding-left: 20px;

}
.contatos-button {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    background: coral;
    color: white;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
}

.footer {
display: flex;
background: coral;
height: 100px;
align-items: center;
font-size: 28px;
color: beige;
justify-content: center;
}